a:link {
    text-decoration: none;
    color: black
  }
  
a:visited {
    text-decoration: none;
    color: black
}

.topnav {
    background-color: #bcadff;
    border-bottom-color: #d9d9d9;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    height: 4em;
    position: fixed;
    width: 100%;
    top: 0;
}

.topnav a {
    float: right;
    padding-left: 1%;
    padding-right: 1%;
    line-height: 4em;
}

body {
    font-family: "Montserrat";
    margin: 0%;
}

.main-body {
    padding: 5%;
    background-color: white;
    padding-left: 20%;
    padding-right: 20%;
}

#title {
    padding-top: 15%;
    font-size: 400%;
    font-family: "Montserrat-SemiBold";
    padding-bottom: 2.5%
}

#problem-statement {
    padding-top: 2.5%;
    font-family: "Montserrat-Italic";
    font-size: 150%;
    padding-right: 30%;
    color: gray

}

hr {
    margin: 0%;
}

#section-title {
    font-family: "Montserrat-SemiBold";
    padding-top: 2.5%;
    font-size: 175%;
}

#section-paragraph {
    padding-top: 1%;
    font-size: 130%;
}

#italic-heading {
    font-family: "Montserrat-Italic";
    color: gray;
    padding-top: 1%;
    font-size: 140%;
}

#info-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hyperlink-nav {
    color: black;
    transition: color .25s
}

#hyperlink-nav:hover {
    color: white;
}

#hyperlink-sow {
    color: #d996fd;
    transition: color .25s
}

#hyperlink-sow:hover {
    color: #a029b3;
}

#hyperlink-dayly {
    color: #3fbde0;
    transition: color .25s
}

#hyperlink-dayly:hover {
    color: #2d8ba6
}

#highest span{
    background-color: #b5ebbe;
}

#medium span {
    background-color: #ebebb5;
}

#lowest span {
    background-color: #ebb5b5;
}

#github span {
    background-color: #ebd5b5;
}

code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 5%;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: url(../fonts/Montserrat-Italic.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-style: normal;
    font-weight: 100;
}